<footer>
  <section class="container-fluid footer_section">
    <section class="info_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="info_contact">
              <div class="info_logo">
                <a href="index.html">
                  <span> Invoice Billing </span>
                </a>
              </div>
              <h5>Contact Us</h5>
              <div>
                <p>Mobile: +011234567890</p>
              </div>
              <div>
                <p>Email: Invoice@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info_contact">
              <div class="info_info">
                <h5>Invoice billing system</h5>
              </div>
            </div>
            <div>
              <p>Pay your bills in one place</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info_contact">
              <div class="info_form">
                <br />
                <h5>Newsletter</h5>
                <form action="">
                  <input type="email" placeholder="Enter your email" />
                  <button>Subscribe</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>&copy; 2023 All Rights Reserved By FCIS Ain Shams</p>
    </section>

    <!-- end info_section -->

    <!-- footer section -->
  </section>
</footer>
