
<body>
  <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
  </div>
  <form [formGroup]="spForm" (ngSubmit)="onSubmit()">
    <div class="p-3 py-5">
      <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right" style="font-size: xx-large; margin-left: 130px; font-weight: bold;">Sign Up</h4>
      </div>

      <div class="row mt-3">
          <label for="numberOfServices">Number of Services:</label>
          <input type="number"  [formControlName]="'numberOfServices'">

          <ng-container *ngIf="spForm && spForm.controls['numberOfServices']">
            <div *ngFor="let i of generateArray(spForm.controls['numberOfServices'].value)">
              <h3>Service {{ i + 1 }}</h3>
              <div class="col-md-12"> <label class="labels" for="serviceId{{i}}" >Service ID:</label>
              <input type="text" [formControlName]="'serviceId' + (i + 1)" placeholder="Enter desired service ID"> </div>

              <div class="col-md-12">  <label class="labels" for="serviceName{{i}}">Service Name:</label>
              <input type="text"  [formControlName]="'serviceName' + (i + 1)" placeholder="Enter service name"></div>

              <div class="col-md-12"> <label class="labels" for="serviceDescription{{i}}">Service Description:</label>
              <input type="text"   [formControlName]="'serviceDescription' + (i + 1)" placeholder="Enter service Description"> </div>
              </div>
            </ng-container>
      </div>

      <div class="mt-5 text-center"><button type="submit">Register service</button></div>
  </div>
  </form>
</body>


