<app-navbar></app-navbar>

<div class="container">
  <div class="box">
    <h2>Electricity Rate</h2>
    <p>Current rate: <span id="elecRate"></span></p>
    <input type="number" id="newelecRate" placeholder="Enter new rate">
    <button>Save</button>
  </div>
  <div class="box">
    <h2>Water Rate</h2>
    <p>Current rate: <span id="waterRate"></span></p>
    <input type="number" id="newaterRate" placeholder="Enter new rate">
    <button>Save</button>
  </div>
  <div class="box">
    <h2>Telephone Bill Rate</h2>
    <p>Current Rate: <span id="ratetel"></span></p>
    <input type="number" id="ratetel" placeholder="Enter new rate">
    <button >Save</button>
  </div>
</div>
