<app-navbar></app-navbar>
<div id="main">
  <div class="container">
    <div class="box">
      <div class="row">
        <div class="col-md-7">
          <div class="detail-box" style="align-items: center">
            <div>
              <br />
              <br />
              <h1 style="color: white">Electricity billing Section</h1>
            </div>
            <div
              class="card"
              style="border: 15px solid black; border-radius: 25px; width: 100%"
            >
              <div class="card-body">
                <div class="col-auto">
                  <h3>
                    <span font-weight:bold
                      >Enter number of used units and reading date:</span
                    >
                  </h3>
                </div>
                <form #myForm="ngForm">
                  <div class="row">
                    <div class="col-auto">
                      <input
                        type="text"
                        name="enteredUnits"
                        [(ngModel)]="enteredUnits"
                        placeholder="number of units"
                        class="form-control"
                        maxLength="10"
                        size="20"
                        required
                      />
                    </div>
                    <div>
                      <label for="dueDate"></label>
                      <input
                        type="date"
                        id="dueDate"
                        name="enteredDate"
                        class="form-control"
                        [(ngModel)]="enteredDate"
                        [max]="maxDate"
                        required
                      />
                    </div>
                    <div class="col-auto">
                      <br />
                      <button
                        class="new-btn-style"
                        type="submit"
                        (click)="addPayment()"
                        [disabled]="!myForm.valid"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- BEGIN INVOICE -->
    <div class="col-xs-12">
      <div class="grid invoice">
        <div class="grid-body">
          <div class="row">
            <div class="col-md-12">
              <h3 style="padding-top: 20px">
                <strong>Pending Payments</strong>
              </h3>
              <table class="table table-striped">
                <thead>
                  <tr class="line">
                    <td><strong>#</strong></td>
                    <!--<td class="text-center"><strong>Month</strong></td>-->
                    <td class="text-right"><strong>DUE DATE</strong></td>
                    <td class="text-right"><strong>UNITS</strong></td>
                    <td class="text-right"><strong>RATE</strong></td>
                    <td class="text-right"><strong>SUBTOTAL</strong></td>
                    <td class="text-right"><strong>EXTRA FEE</strong></td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center" *ngIf="pendingPayments.length < 1">
                    <td colspan="8">No Electricity Pending Payments</td>
                  </tr>
                  <ng-container *ngFor="let pay of pendingPayments; index as i">
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td class="text-right">{{ pay.dueDate | dateFormat }}</td>
                      <td class="text-right">{{ pay.unitsUsed }}</td>
                      <td class="text-right">{{ pay.rate }}</td>
                      <td class="text-right">{{ pay.totalAmount }} $</td>
                      <td class="text-right">{{ pay.extraFee }} $</td>
                      <td class="text-right">
                        <button
                          class="new-btn-style"
                          (click)="payPendingPayment(pay)"
                        >
                          PAY</button
                        ><!-- HYA DI EL POP HENAAAA ZAWDY BOOL-->
                      </td>
                      <!--payments array-->
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <div class="row">
                <div class="col-auto">
                  <button class="new-btn-style" routerLink="/paymentHistory">
                    View Payments History
                  </button>
                </div>
                <div class="col-auto">
                  <button class="new-btn-style">Policy</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END INVOICE -->
  </div>
</div>

<app-footer></app-footer>
