<app-navbar></app-navbar>
<div id="main">
  <div class="container">
    <div class="box">
      <div class="row">
        <div class="col-md-7">
          <div class="detail-box" style="align-items: center">
            <div>
              <br />
              <br />
              <br />
              <h1 style="color: white">Electricity billing Section</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- BEGIN INVOICE -->
    <div class="col-xs-12">
      <div class="grid invoice">
        <div class="grid-body">
          <div class="row">
            <div class="col-6">
              <div
                class="card"
                style="
                  padding: 20px;
                  border: #1845ad solid;
                  border-radius: 25px;
                "
              >
                <div class="card-body">
                  <div class="col-auto">
                    <h3>
                      <span font-weight:bold>Enter number of used units:</span>
                    </h3>
                  </div>
                  <div class="row">
                    <div class="col-auto">
                      <input
                        type="text"
                        [(ngModel)]="enteredUnits"
                        placeholder="number of units"
                        class="form-control"
                        maxLength="10"
                        size="20"
                      />
                    </div>
                    <!--Insert var here-->
                    <div class="col-auto">
                      <button
                        class="btn btn-primary mb-3"
                        type="button"
                        (click)="addNewPendingPayment()"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
              <div class="img-box">
                <img src="assets/electricity.png" width="150" height="150" />
              </div>
            </div>

            <hr />
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3 style="padding-top: 20px">Pending Payments</h3>
              <table class="table table-striped">
                <thead>
                  <tr class="line">
                    <td><strong>#</strong></td>
                    <!--<td class="text-center"><strong>Month</strong></td>-->
                    <td class="text-center"><strong>UNITS</strong></td>
                    <td class="text-right"><strong>RATE</strong></td>
                    <td class="text-right"><strong>SUBTOTAL</strong></td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pay of pendingPayments; index as i">
                    <td>{{ i + 1 }}</td>
                    <td class="text-center">{{ pay.unitsUsed }}</td>
                    <td class="text-right">{{ rate }}</td>
                    <td class="text-right">{{ pay.totalAmount }}</td>
                    <td class="text-right">
                      <button class="btn btn-primary mb-3">PAY</button>
                    </td>
                    <!--payments array-->
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-auto">
                  <div class="btn-box">
                    <a href=""> Pay your bill </a>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="btn-box">
                    <a href=""> View Payment History </a>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="btn-box">
                    <a href="">Policy </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END INVOICE -->
  </div>
</div>
