<app-navbar></app-navbar>
<div class="container">
  <div class="row">
              <!-- BEGIN INVOICE -->
            <div class="col-xs-12">
              <div class="grid invoice">
                <div class="grid-body" style=" padding:30px; border:#1845ad solid; border-radius: 25px;">
                  <div class="invoice-title">
                    <div class="row" style=" padding:20px; border:#1845ad solid; border-radius: 25px;">
                      <div class="col-xs-12">
                        <h2>Electricity Invoice :
                        <span class="small" >Bill #1082</span></h2> <!--Insert var here-->
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row" style=" padding:30px; border:#1845ad solid; border-radius: 25px;">
                    <div class="col-xs-6">
                      <address>
                        <strong style="font-size: xx-large;">Billed To:</strong><br>
                        <p style="font-size: large; font-weight: 450; color: #092157;">
                        MR. Omar Khaled<br>
                        73, Maadi, Street 9<br>
                        CAI, Egypt 94107<br>
                        <abbr title="Phone">No:</abbr> (+020) 1007526614
                        </p>
                      </address>
                    </div>
                    <div class="row-xs-6 text-right">
                      <address>
                        <strong style="font-size: xx-large;">Payment Method:</strong><br>
                        <p style="font-size: large; font-weight: 450; color: #092157;">

                        Visa ending **** 1234<br>
                        Omar@gmail.com<br>
                        </p>
                      </address>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 text-right">
                        <address>
                          <strong style="font-size: xx-large;">Order Date:</strong><br>
                          <p style="font-size: large; font-weight: 450; color: #092157;">
                          17/09/23
                          </p>
                        </address>
                      </div>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h3 style="padding-top: 20px;">Bill Summary</h3>
                      <table class="table table-striped">
                        <thead>
                          <tr class="line">
                            <td><strong>#</strong></td>
                            <td class="text-center"><strong>Month</strong></td>
                            <td class="text-center"><strong>HRS</strong></td>
                            <td class="text-right"><strong>RATE</strong></td>
                            <td class="text-right"><strong>SUBTOTAL</strong></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td><strong>August</strong><br>fwhfrhfgrfurehfnrefh urhefu reufhuruerhfm hfuerhferf brfbreubfrefre </td>
                            <td class="text-center">15</td>
                            <td class="text-center">$75</td>
                            <td class="text-right">$1,125.00</td>
                          </tr>

                          <tr>
                            <td colspan="3"></td>
                            <td class="text-right"><strong>Taxes</strong></td>
                            <td class="text-right"><strong>N/A</strong></td>
                          </tr>
                          <tr>
                            <td colspan="3">
                            </td><td class="text-right"><strong>Total</strong></td>
                            <td class="text-right"><strong>$2,400.00</strong></td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="btn-box">
                        <a href="">
                          Pay your bill
                        </a>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <!-- END INVOICE -->
          </div>
  </div>
