<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form [formGroup]="myform" (ngSubmit)="onSubmit()">
    <div class="p-3 py-5">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4
          class="text-right"
          style="font-size: xx-large; margin-left: 130px; font-weight: bold"
        >
          Sign Up
        </h4>
      </div>
      <div class="row mt-2">
        <div class="col-md-6">
          <label class="labels"
            >First/Company name<span style="color: red">*</span></label
          ><input
            formControlName="fname"
            type="text"
            placeholder="first name or company name"
          />
          <!-- <div class="alert alert-danger" *ngIf="myform.fname.invalid"></div> -->
        </div>
        <div class="col-md-6">
          <label class="labels">Last name</label
          ><input formControlName="lname" type="text" placeholder="last name" />
        </div>
      </div>
      <div class="row mt-3">
          <div class="col-md-12"><label class="labels">Mobile Number<span style="color:red">*</span></label><input formControlName="pnumber" type="text" placeholder="enter phone number"></div>
          <div class="col-md-12"><label class="labels">National Id / Company ID<span style="color:red">*</span></label><input formControlName="NationalID" type="text" placeholder="enter your National ID or company ID"></div>
          <div class="col-md-12"><label class="labels">Address</label><input formControlName="address"  type="text"  placeholder="enter address "></div>
          <div class="col-md-6"><label class="labels">Country<span style="color:red">*</span></label><input formControlName="country" type="text" placeholder="country" ></div>
          <div class="col-md-12"><label class="labels">Postcode</label><input  formControlName="postcode"  type="text" placeholder="enter postcode" ></div>
          <div class="col-md-12"><label class="labels">Governerate<span style="color:red">*</span></label><input  formControlName="gov" type="text"  placeholder="enter area" ></div>
          <div class="col-md-12"><label class="labels">Email</label><input formControlName="email" type="text" placeholder="enter email" ></div>
          <label class="labels" style="padding-top: 10px;">Telephone Bill type :<span style="color:red">*</span></label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"  id="exampleRadiosInline1" value="prePaid" formControlName="myRadio" >
            <label class="form-check-label" for="exampleRadiosInline1" style="padding-left: 30px; font-size: medium;">
              Pre-Paid
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"  id="exampleRadiosInline2" value="postPaid" formControlName="myRadio" >
            <label class="form-check-label" for="exampleRadiosInline2" style="padding-left: 30px;font-size: medium;">
              Post-Paid
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="exampleRadiosInline3" value="" formControlName="myRadio" >
            <label class="form-check-label" for="exampleRadiosInline3" style="padding-left: 30px;font-size: medium;">
              None
            </label>
          </div>
          <select id="service-providers" formControlName="sp" >
            <option value="">--Select a telephone company--</option>
            <option *ngFor="let provider of providerNames" [value]="provider">{{ provider }}</option>
          </select>
          <div class="col-md-12"><label class="labels">Password<span style="color:red">*</span></label><input formControlName="pass1" type="text"  placeholder="enter password"></div>
          <div class="col-md-12"><label class="labels">Confirm password<span style="color:red">*</span></label><input formControlName="pass2" type="text"  placeholder="enter password again"></div>
   <!--  <div class="col-md-12"><label class="labels">Sign up as<span style="color:red">*</span></label><input formControlName="type" type="text"  placeholder="user,admin or service provider" (input)="onTypeChange()"></div> -->
   <div *ngIf="myform.hasError('passwordMismatch')" class="error-message" style="color: red;">
    Passwords do not match.
  </div>
   <select formControlName="type" >
     <!--(change)="onTypeChange()"-->
    <option value="">--Sign up as--<span style="color:red">  *</span></option>
    <option value="user">Customer</option>
    <option value="admin">Admin</option>
    <option value="service provider">Service Provider</option>
  </select>
      </div>
      <div *ngIf="isServiceProvider == true">
        <app-spsignup [nId]?="nId"></app-spsignup>
      </div>
      <div class="mt-5 text-center"><button mat-raised-button (click)="openDialog()" type="submit">SignUp</button></div>
    </div>
  </form>
</body>
