<app-navbar></app-navbar>

<div id="main">
  <section class="heading">
    <div class="container">
      <div class="box">
        <div class="row">
          <div class="col-md-7">
            <div class="detail-box">
              <div>
                <h1>All your bills</h1>
                <h2>in one place.</h2>
                <div class="">
                  <a href=""> Get Started </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="img-box">
              <img
                src="https://uploads-ssl.webflow.com/603d48021c4d3f9a76f3f408/62f597e5576df9cfc3218dbf_Under-Invoicing%20What%20It%20Is%20and%20How%20to%20Avoid%20It.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="how_section layout_padding">
    <div class="heading_container">
      <h2>How It works ?</h2>
    </div>
    <div class="how_container">
      <div class="box">
        <div class="img-box">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="200"
            height="200"
            viewBox="0 0 64 64"
          >
            <defs>
              <linearGradient id="grad" gradientTransform="rotate(45)">
                <stop offset="0%" stop-color="#F2C94C" />
                <stop offset="50%" stop-color="#F2994A" />
                <stop offset="100%" stop-color="#EB5757" />
              </linearGradient>
            </defs>
            <rect x="0" y="0" width="64" height="64" fill="#f6f5f7" />
            <path
              d="M10,30v20h10v-20H10zM20,20v30h10V20H20zM30,35v15h10V35H30zM40,25v25h10V25H40zM50,37.5V50h10V37.5H50zM50,13v12.5h10V13H50z"
              fill="url(#grad)"
              stroke="#FFFFFF"
              stroke-width="2"
            />
          </svg>
        </div>
        <div class="detail-box">
          <h5>Electricity</h5>
          <p>
            Now your electricity bill is uploaded at the begining of every month
            with taxes included with consideration to any change in rate or
            payment due time.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="200"
            height="200"
            viewBox="0 0 64 64"
            style="background-color: transparent"
          >
            <defs>
              <linearGradient id="grad" gradientTransform="rotate(45)">
                <stop offset="0%" stop-color="#56CCF2" />
                <stop offset="50%" stop-color="#2F80ED" />
                <stop offset="100%" stop-color="#2D9CDB" />
              </linearGradient>
            </defs>
            <rect x="0" y="0" width="64" height="64" fill="#f6f5f7" />
            <path
              d="M32,3.5c-9.389,0-17,7.611-17,17c0,12.17,17,35.5,17,35.5s17-23.33,17-35.5C49,11.111,41.389,3.5,32,3.5z"
              fill="url(#grad)"
              stroke="#FFFFFF"
              stroke-width="2"
            />
          </svg>
        </div>
        <div class="detail-box">
          <h5>Water</h5>
          <p>
            Pay your water bills and change anything that needs to be changed
            accroding to your own prefrences and rate.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="200"
            height="200"
            viewBox="0 0 64 64"
            style="background-color: transparent"
          >
            <defs>
              <linearGradient id="grad" gradientTransform="rotate(45)">
                <stop offset="0%" stop-color="#F2C94C" />
                <stop offset="50%" stop-color="#F2994A" />
                <stop offset="100%" stop-color="#EB5757" />
              </linearGradient>
            </defs>
            <rect
              x="14"
              y="5"
              width="36"
              height="54"
              rx="4"
              fill="url(#grad)"
              stroke="#000000"
              stroke-width="2"
            />
            <rect x="20" y="10" width="24" height="40" rx="2" fill="#E5E5E5" />
            <circle cx="32" cy="53" r="2" fill="#000000" />
          </svg>
        </div>
        <div class="detail-box">
          <h5>Telephone</h5>
          <p>
            Pay your Telephone bills, view all offers available by all providers
            and switch systems if you feel like it, now all available.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="200"
            height="200"
            viewBox="0 0 64 64"
            style="background-color: transparent"
          >
            <defs>
              <linearGradient id="grad" gradientTransform="rotate(45)">
                <stop offset="0%" stop-color="#7BC6CC" />
                <stop offset="50%" stop-color="#4B778D" />
                <stop offset="100%" stop-color="#0B486B" />
              </linearGradient>
            </defs>
            <rect
              x="8"
              y="8"
              width="48"
              height="28"
              fill="url(#grad)"
              stroke="#FFFFFF"
              stroke-width="2"
            />
            <rect
              x="8"
              y="36"
              width="48"
              height="8"
              fill="#FFFFFF"
              stroke="#000000"
              stroke-width="2"
            />
            <path
              d="M56,8v28c0,2.209-1.791,4-4,4H8c-2.209,0-4-1.791-4-4V8c0-2.209,1.791-4,4-4h44C54.209,4,56,5.791,56,8z M8,6c-1.103,0-2,0.897-2,2v28c0,1.103,0.897,2,2,2h44c1.103,0,2-0.897,2-2V8c0-1.103-0.897-2-2-2H8z"
              fill="#FFFFFF"
            />
          </svg>
        </div>
        <div class="detail-box">
          <h5>Payments</h5>
          <p>
            Check all our billing paying systems and pick whatever suits you
            from the various options provided.
          </p>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href=""> Read More </a>
    </div>
  </section>

  <!--Start info section-->
  <section class="container-fluid footer_section">
    <section class="info_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="info_contact">
              <div class="info_logo">
                <a href="index.html">
                  <span> Invoice Billing </span>
                </a>
              </div>
              <h5>Contact Us</h5>
              <div>
                <p>Mobile: +011234567890</p>
              </div>
              <div>
                <p>Email: Invoice@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info_contact">
              <div class="info_info">
                <h5>Invoice billing system</h5>
              </div>
            </div>
            <div>
              <p>Pay your bills in one place</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info_contact">
              <div class="info_form">
                <br />
                <h5>Newsletter</h5>
                <form action="">
                  <input type="email" placeholder="Enter your email" />
                  <button>Subscribe</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>&copy; 2023 All Rights Reserved By FCIS Ain Shams</p>
    </section>

    <!-- end info_section -->

    <!-- footer section -->
  </section>


</div>


